body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #f1f5f9;
}
.c {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
h1 {
    margin: 0;
    font-size: 1.4em;
    color: #1e293b;
    text-align: center;
}
p {
    font-size: 0.9rem;
    margin: 0.25rem 0 0 0;
    color: #64748b;
    text-align: center;
}
.footer {
    margin-top: 0.75rem;
    font-size: 0.75em;
    color: #94a3b8;
}
label {
    display: block;
    margin: 12px 0 4px;
    font-size: .9em;
    color: #64748b;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    font-size: 1em;
}
button {
    margin-top: 16px;
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.75em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 10%;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
button:hover {
    background: #2563eb;
}
#nets {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    background: #e2e8f0;
    margin-bottom: 2rem;
    font-size: 0.9em;
    color: #64748b;
    box-shadow: 0 2px 8px rgba(0,0,0,.025);
}
#scanning {
    background: #f8fafc;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spinner {
    width: 12px;
    height: 12px;
    border: 2px solid #94a3b8;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
.net {
    padding: 12px 12px;
    background: #f8fafc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    font-size: 0.9em;
    color: #334155;
}
.net:last-child {
    margin-bottom: 0;
}
.net:hover {
    background: #dbeafe;
}
.ssid {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icons {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
}
.lock {
    width: 12px;
    height: 12px;
    fill: #94a3b8;
}
.net:hover .lock {
    fill: #475569;
}
.bars {
    width: 18px;
    height: 14px;
}
.bar-on {
    fill: #94a3b8;
}
.bar-off {
    fill: #e2e8f0;
}
.net:hover .bar-on {
    fill: #475569;
}
.net:hover .bar-off {
    fill: #cbd5e1;
}
